body {
  margin: 0;
  padding: 0;
  background-color: hsl(218, 10%, 22%);
  color: hsl(0, 0%, 100%);
}

.App-header {
  background-color: hsl(233, 12%, 15%);
  color: hsl(0, 0%, 100%);
}

.react-logo {
  width: 15%;
  margin-left: -10px;
}

li::marker {
  font-size: 1.4rem;
  color: hsl(193, 95%, 68%);
}

